*{
  background-color: #F0F8EA;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR - START */

.navbar{
  height: 120px;
  width: 100vw;
  position: fixed;
  align-items: center;
  position: fixed;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  display: flex;
  justify-content: space-evenly;
  gap: 300px;
  align-items: center;
}

.nav-logo{
  width: 296px;
  height: 60.08px;
  scale: 0.8;
  object-fit: contain;
}

.nav-headers{
  display: flex;
  justify-content: space-evenly;
  padding-right: 25px;
  align-items: center;
  gap: 100px;
}

.nav-headers p{
  color: #404040;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-nav{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

/* NAVBAR - END */