*{
  background-color: #F0F8EA;
}

/* NAVBAR - START */

.navbar{
  height: 150px;
  width: 100vw;
  align-items: center;
  position: fixed;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  display: flex;
  justify-content: space-evenly;
  gap: 350px;
  align-items: center;
}

.nav-logo{
  width: 296px;
  height: 60.08px;
  object-fit: contain;
}

.nav-headers{
  display: flex;
  justify-content: space-evenly;
  padding-right: 100px;
  align-items: center;
  gap: 100px;
}

.nav-headers p{
  color: #404040;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* NAVBAR - END */